apiVersion: v1
kind: Service
metadata:
  name: mnist-inference
  labels:
    app: mnist-inference
spec:
  type: LoadBalancer
  selector:
    app: mnist-inference
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: websocket
